<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<header>
    <a href="http://localhost:8000/gdisconnect"><h2>Logout</h2></a>
</header>
<body>


<h1>{{ company.name }}</h1>
<a href='{{url_for("showCompanies")}}'><h2>Back to Companies page</h2></a>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<br>
<a href = '{{url_for('newMobilePhone', company_id = company_id) }}'>
Create New Mobile Phone</a>
<br>
<div>
    {% for mobilePhone in mobilePhones %}
    <p>{{mobilePhone.name}}</p>
    <p>{{mobilePhone.Specifications}}</p>
    <p>{{mobilePhone.price}}</p>
    <a href='{{url_for('editMobilePhone' , company_id = company_id , mobile_id = mobilePhone.id) }}'><h3>Edit</h3></a>
    <a href='{{url_for('deleteMobilePhone' , company_id = company_id , mobile_id = mobilePhone.id) }}'><h3>delete</h3></a>
    <br><br>
</div>
{% endfor %}
</body>
</html>

