<html>
<body>

<h1>{{ company.name }}</h1>
<br>
<a href = '{{url_for('newMobilePhone', company_id = company_id) }}'>
Create New Mobile Phone</a>
<br>
<div>
    {% for mobilePhone in mobilePhones %}
    <p>{{mobilePhone.name}}</p>
    <p>{{mobilePhone.Specifications}}</p>
    <p>{{mobilePhone.price}}</p>
    <a href='{{url_for('editMobilePhone' , company_id = company_id , mobile_id = mobilePhone.id) }}'>Edit</a>
    <br>
    <a href='{{url_for('deleteMobilePhone' , company_id = company_id , mobile_id = mobilePhone.id) }}'>delete</a>
    <br><br>
</div>
{% endfor %}
</body>
</html>

